---
import GitHubButton from "../GitHubButton.astro";
import LinkedInButton from "../LinkedInButton.astro";
import TechList from "../tech-list/TechList.astro";

import java from "../../assets/logos/java.svg";
import spring from "../../assets/logos/spring.svg";
import typescript from "../../assets/logos/typescript.svg";
import react from "../../assets/logos/react.svg";
import nextjs from "../../assets/logos/nextjs.svg";
import expo from "../../assets/logos/expo.svg";
import express from "../../assets/logos/express.svg";
import trpc from "../../assets/logos/trpc.svg";
import prisma from "../../assets/logos/prisma.svg";

const stack = [
  { name: "Java", image: java },
  { name: "Spring", image: spring },
  { name: "Typescript", image: typescript },
  { name: "React + React Native", image: react },
  { name: "NextJs", image: nextjs },
  { name: "Expo", image: expo },
  { name: "Express", image: express },
  { name: "tRPC", image: trpc },
  { name: "Prisma", image: prisma },
];
---

<section class="flex h-screen flex-col items-center justify-center">
  <div class="flex flex-col items-center gap-6 md:items-start md:gap-8">
    <div>
      <h1
        class="text-center text-5xl font-bold text-vsc-500 sm:text-6xl md:text-start md:text-7xl lg:text-8xl xl:text-8xl"
      >
        Óscar
      </h1>
      <h1
        class="text-center text-5xl font-bold text-gray-700 sm:text-6xl md:text-start md:text-7xl lg:text-8xl xl:text-8xl"
      >
        Veiga Menéndez
      </h1>
    </div>
    <h2 class="text-center text-xl font-semibold text-gray-500 sm:text-2xl md:text-start md:text-3xl lg:text-4xl">
      Desarrrollador de software
    </h2>
    <TechList stack={stack} />
    <div class="mt-4 flex w-full justify-center gap-8 md:justify-end">
      <LinkedInButton />
      <GitHubButton />
    </div>
  </div>
</section>
