---
import SectionTitle from "../SectionTitle.astro";
import TimelineFragment from "../TimelineFragment.astro";
---

<section class="pt-48">
  <SectionTitle title="Vida laboral" />
  <TimelineFragment
    date="2015 - 2017"
    title="Ciclo Superior en Desarrollo de Aplicaciones Multiplataforma"
    company="IES Fernando Wirtz Suárez"
  />
  <TimelineFragment
    flip
    date="2017 - 2018"
    title="Mantenimiento en Integración de datos EAI"
    client="Inditex"
    company="Altia Consultores S.L."
    tech={["ESQL", "IBM MQ"]}
  />
  <TimelineFragment
    date="2018 - 2020"
    title="Mantenimiento SAFEPAL"
    company="Altia Consultores S.L."
    client="Inditex"
    tech={["Java", "Spring", "GWT"]}
  />
  <TimelineFragment
    flip
    date="2020 - 2022"
    title="Mantenimiento Maestros Financieros"
    company="Altia Consultores S.L."
    client="Inditex"
    tech={["Java", "Javascript", "Spring", "React"]}
  />
  <TimelineFragment
    date="2022 - Presente"
    title="Aplicación gestión ciclo de vida de hotel"
    company="AT Sistemas"
    client="Hoteles Meliá"
    tech={["Typescript", "Express", "React"]}
  />
</section>
