---
import Presentation from "../components/sections/Presentation.astro";
import Proyectos from "../components/sections/Proyectos.astro";
import VidaLaboral from "../components/sections/VidaLaboral.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Óscar Veiga Menéndez">
  <main class="container mx-auto pb-48">
    <Presentation />
    <VidaLaboral />
    <Proyectos />
  </main>
</Layout>
