---
import Presentation from "../components/sections/Presentation.astro";
import VidaLaboral from "../components/sections/VidaLaboral.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Óscar Veiga Menéndez">
  <main class="container mx-auto">
    <Presentation />
    <VidaLaboral />
  </main>
</Layout>
