---
import { Icon } from "astro-icon";

export interface Props {
  href: string;
  icon?: {
    pack: string;
    name: string;
  };
}

const { href, icon } = Astro.props;
---

<a
  class="flex gap-1 text-2xl items-center text-gray-800 font-semibold hover:text-vsc-500"
  href={href}
  target="_blank"
  rel="noreferrer"
>
  {icon && <Icon class="h-10 w-10" {...icon} />}
  <slot />
</a>
