---
type Props = {
  name: string;
  image: ImageMetadata;
  reverse?: boolean;
};

const { name, image, reverse = false } = Astro.props;
---

<li title={name} class={`group ${reverse ? "pl-3" : "pr-3"}`}>
  <img
    src={image.src}
    class="h-10 w-10 duration-100 ease-in-out group-hover:-translate-y-4"
    width={40}
    height={40}
    alt={`${name} icon`}
  />
</li>
