---
type Props = {
  name: string;
  image: ImageMetadata;
};

const { name, image } = Astro.props;
---

<li title={name} class={`group px-1.5`}>
  <img
    src={image.src}
    class="h-7 w-7 duration-100 ease-in-out group-hover:-translate-y-4 sm:h-9 sm:w-9 md:h-10 md:w-10"
    width={40}
    height={40}
    alt={`${name} icon`}
  />
</li>
