.tooltip {
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    background-color: #007aac;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 20px;
    position: absolute;
    z-index: 1;
    margin-left: -50%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}